volumes/oracle/*
!volumes/oracle/.gitkeep
volumes/mariadb/*
!volumes/mariadb/.gitkeep
observability/grafana/storage/*
!observability/grafana/storage/.gitkeep

locust/*
!locust/locustfile.py

.idea
**/*.DS_Store