volumes/oracle/*
!volumes/oracle/.gitkeep
volumes/mariadb/*
!volumes/mariadb/.gitkeep
observability/grafana/*
observability/grafana/storage/*
!observability/grafana/storage/.gitkeep

.idea
**/*.DS_Store